/**https://colorhunt.co/palette/f4bfbfffd9c0faf0d78cc0de link to palette**/

body {
    margin: 0px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(254, 253, 250)
}

hr {
    border-style: dotted;
    border-width: 5px;
    border-top: 10px;
    width: 2%;
    color: #EAF6F6;

}

h1 {
    padding-top:10px;
    color: #66BFBF;
    font-family: 'Poppins', sans-serif;
    margin:0;
    font-size: 3.5rem;
}

h2 {
    font-family: 'Poppins', sans-serif;
    margin: 2.5rem 0 2.5rem 0;
    letter-spacing: 2px;
    color: #66BFBF;
    font-size: 2rem;
    font-weight: 500;
}

h3 {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    font-weight: 200;
    color: #11999E;

}

a {
    color: white;
}

p {
    color: #40514e;
    margin: 10px 0 3rem 0;
}

/** Class Selectors**/

.secondcloud {
    position: absolute;
    left: 300px;
    bottom: 300px;

}

.firstcloud {
    position: absolute;
    top: 50px;
    right: 300px;

}

.top-container {
    padding-top: 100px;
    padding-bottom: 0px;
    position: relative;
    background-color: #66BFBF;
    margin: 0;
}

.skillimage-design {
    width: 20%;
    float: left;
    margin-right: 30px;
}

.skillimage-code {
    width: 20%;
    float: right;
    margin-left: 30px;
}

.footer-link {
    color: white;
    width: 50px;
    padding: 25px;
}

.logo {
    width: 500px;
    padding: 0;
    margin: 0;
    margin-top: 50px;
    position: relative;
    left: 5px;
}

.splashtext {
    color: #FAF0D7;
    margin:0;
}

.skills {
    padding: 20px
}

.skill-row {
    width: 40%;
    margin: 0 auto 0 auto;
    text-align: left;
    line-height: 2;
}

.profile {
    width: 25%;
    margin: auto;
}

.contact-me {
    width: 25%;
    margin:0 auto 0 auto
}

.btn {
    background-color: #66BFBF;
    text-decoration: none;
    padding: 10px 20px 10px 20px;
    border-radius: 4px;

}

.bottom-container {
    background-color: #66BFBF;
    margin-top: 80px;
    margin-bottom: 0px;
    padding-bottom: 15px;
}

/** ID Selectors**/
#pro {
    text-decoration: underline;
}

#profilepic {
    width: 150px;
    border-radius: 100%;
    margin: 5rem auto 0 auto;
}

#skillstitle {
    margin-bottom: 70px;
}

#footertext {
    margin: 0;
    color: white;
    font-size:small;

}